.portfolio-title {
  font-size: 3rem;
  color: #e9edf3;
  letter-spacing: 1px;
}
.portfolio-para {
  margin-right: 0 !important;
}
.desc-project {
  flex-basis: 55%;
  height: 230px;
  margin: auto 2rem;
  flex-grow: 0;
}
.fileup_home_img {
  border-radius: 4px;
  box-shadow: 48px 16px 48px rgba(0, 0, 0, 0.2);
}

.project-para {
  font-size: 17px;
  line-height: 22px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: #8595ae;
}
.project-title {
  font-size: xx-large;
  color: #e9edf3;
}
.icons-style {
  width: 6%;
  margin: 3px 9px;
}
.tech-icosns-holder {
  background-color: aliceblue;
  box-shadow: 48px 16px 48px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
}
.project-link-helper {
  font-size: small;
  color: #cccccc;
  margin: 8px;
}
